# Android/Gradle
.gradle/
build/
app/build/
local.properties

# IDE
.idea/
*.iml

# Keystores
*.keystore
*.jks

# NDK / CMake
.cxx/
.externalNativeBuild/

# Capturas
captures/

# SO
.DS_Store
Thumbs.db
